.theos/
packages/
.DS_Store
*.xcscmblueprint
*.xccheckout
*.xcarchive
xcuserdata
Resources/Frameworks/OpenSSL.framework
apps_nightly.json
"build_log.txt"  
"run_log.txt"  
"fix_log.txt"
"diff_out.txt"  
